
/* HOME */

.welcome{
  padding-bottom: 4em;
  overflow-x: hidden;
  @media #{$phone}{
    padding-bottom: 8em;
  }
  img{
    max-width: 100%;
    @media #{$phone} {
      transform: scale(1.2) skewy(-2deg);
    }
    @media #{$tab} {
      transform:scale(1.2) skewy(-2deg);
    }
    @media #{$desk} {
      transform: scale(1.2) skewy(-3deg);
    }
    @media #{$cap} {
      transform: scale(1.2) skewy(-3.5deg);
    }
  }
}

a.inlineorange{
  border-bottom: .2em solid $brightorange;
  padding-bottom: 0.05em;
  padding-top: 0;
  transition: $fast;
  color:  $brightorange;
  &:hover{
    transition: $fast;
    border-bottom: .2em solid $darkorange;
    color: $brightorange;
  }
}
a.inlineblue{
  border-bottom: .2em solid $darkblue;
  padding-bottom: 0.05em;
  padding-top: 0;
  transition: $fast;
  color: $darkblue;
  &:hover{
    transition: $fast;
    border-bottom: .2em solid $brightorange;
    color: $brightorange;
  }
}


section.mainswipe{
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate3d(0, 0, 0);
  outline: 1px solid transparent;

  figure{
    position: relative;
    transform: translate3d(0, 0, 0);
    outline: 1px solid transparent;

  }
  div{
    cursor: -webkit-grab;
    transform: translate3d(0, 0, 0);
    outline: 1px solid transparent;
    &:active {
      cursor: -webkit-grabbing;
    }
    img{
      max-height: 100%;
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
  aside{
    width: 100%;
    transform: translate3d(0, 0, 0);
    outline: 1px solid transparent;
    z-index: 100;
    position: relative;
    height: 2.4em;

    @media #{$phone} {
      font-size: 1.6em;
      height: 1.2em;
    }
    button{
      font-family: $gotham;
      cursor: pointer;
      background: $orange;
      text-transform: uppercase;
      font-weight: 800;
      padding: 1em;
      border: 0;
      font-size: .8em;
      color: #84a0a0;
      transition: $fast;
      margin: 0;
    }

    &.next {
      text-align: right;
      button {
        backface-visibility: hidden;
        position: relative;
        bottom: -2.4em;
        z-index: 100;
        padding-right: 2em;
        @media #{$cap} {
          padding-right: calc(50% - 1140px / 2 + 2em) ;
        }
        @media #{$phone} {
          bottom: -.6em;
          z-index: 100;
        }
        &:after{
          content: " ";
          height: 3.2em;
          bottom: 0em;
          width: 100%;
          display: inline-block;
          z-index: -10;
          background: #1f3943;
          position: absolute;
          background: $blue;
          left: 0;
          transition: $fast;
        }
        &:hover{
          color: $blue;
        }
        &:hover:after{
          height: .2em;
          transition: $fast;
        }
      }

    }

    &.prev {
      button {
        position: relative;
        backface-visibility: hidden;
        top: -2.4em;
        z-index: 100;
        padding-left: 2em;
        @media #{$cap} {
          padding-left: calc(50% - 1140px / 2 + 2em) ;
        }
        &:after{
          content: " ";
          height: 3.2em;
          bottom: 0em;
          width: 100%;
          display: inline-block;
          z-index: -10;
          background: #1f3943;
          position: absolute;
          background: $blue;
          left: 0;
          transition: $fast;
        }
        &:hover{
          color: $blue;
        }
        &:hover:after{
          height: .2em;
          transition: $fast;
        }
      }
    }
  }
}
.sourcing{
  margin-top: -8.5em;
  padding-bottom: 6em;
}

.reservation{
  background: $orange;
  padding-bottom: 8.5em;
  @media #{$phone} {
    .badge{
      display: none;
    }
  }
  .content{
    padding-bottom: 1%;
  }
  .reserve-widget{
    display: flex;

    @media #{$phone} {
      display: block;
      p{
        padding-bottom: 1em;
        &:nth-child(2){
          display: none;
        }
      }
    }
    > div{
      flex: 1 50%;
      &:first-child{
        flex: 1 65%
      }
    }
    .widget{
      position: relative;
      top: -4em;
      @media #{$phone} {
        top: 0;
        padding-bottom: 2em;
      }
    }
  }
  h2{
    color: $gray;
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: 0.095em;
    padding:0 0 .8em 0;
  }
  p{
    color: $gray;
    font-size: 1.4em;
    line-height: 1.6em;
    font-weight: 300;
    padding: 0 2.6em 2em 0;
    @media #{$phone} {
      font-weight: 400;
    }
  }
}

.training {
  background: $orange;
  padding-bottom: 5.5em;
  ul{
    display: flex;
    @media #{$phone} {
      display: block;
    }
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 18em;
      flex: 1;
      text-align: center;
      background: $blue;
      margin-right: 5%;
      margin-top: 10%;
      margin-left: 0;
      transition: $normal;
      &:last-child{
        margin-right: 0;
        margin-left: 5%;
      }
      &:hover{
        background-color: $darkblue;
      }

      @media #{$phone} {
        height: 12em;
        margin-top: 1em;
        margin-left: 0;
        margin-right: 0;
        &:last-child{
          margin-right: 0;
          margin-left: 0;
        }
      }
      div{
        flex: 1;
      }
    }
    h2{
      color: $gray;
      font-family: 'Tungsten A', 'Tungsten B';
      font-weight: 600;
      font-style: normal;
      font-size: 1.4em;
      letter-spacing: 0.095em;
      padding:0 0 .8em 0;
    }
    p{
      color: $gray;
      font-size: .9em;
      line-height: 1.6em;
      font-weight: 300;
      padding: 0 2.6em;
      @media #{$phone} {
        font-weight: 400;
      }
    }
  }
}

.farm{
  @media #{$tab} {
    background-image: url('https://supmot.imgix.net/superior_main_l.jpg?1234');
  }
  @media #{$phone} {
    background-image: url('https://supmot.imgix.net/superior_main_s.jpg?1234');
  }
  background-size: cover;
  background-position: 50%;
  background-color: $blue;
  background-position-y: -6em;
  background-repeat: no-repeat;
  background-clip:padding-box;
  min-height: 40em;

  h1{
    @media #{$phone} {
      padding-top: 3em;
    }
  }
  h1, p{
    color: $blue;
  }
}

.events, .articles{
  padding-bottom: 12em;
  &.list{
    margin-top: -5.5em;
    top: 3em;
    padding-bottom: 0;
  }
  article{
    padding: 2.8em 0;
    &:after{
      display: block;
      height: .3em;
      width: 10em;
      background: $orange;
      content: "";
      bottom: -2.4em;
      position: relative;
    }
    &:last-child:after {
      display: none;
    }
    &:first-of-type{
      padding-top: 1.4em;
    }
    &:last-of-type{
      padding-bottom: .8em;
    }
  }
  h2{
    font-family: $gotham;
    font-size: 2.5em;
    font-weight: 300;
    color: $gray;
    padding-bottom: .35em;
    line-height: 1.05em;
  }
  h3{
    display: block;
    color: $orange;
    font-style: italic;
    font-size: 1.45em;
    padding-bottom: .35em;
  }
  p{
    font-size: 1em;
    letter-spacing: 0;
    a{
      padding-bottom: 0.05em;
      transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
      cursor:pointer;
      color: $orange;
      font-style: italic;
      &:hover{
        background: $orange;
        color:#D9E5E5;
        padding: .1em .4em;
      }
    }
  }
}

.inside p{
  margin-top: 2.1em;
}
.inside img{
  max-width: 100%;
  margin-top: 2.1em;
}

.events{
  @media #{$phone} {
    padding-top: 2em;
    padding-bottom: 9em;
  }
}

.articles{
  margin-top: -5.5em;
  @media #{$phone} {
    padding-bottom: 8em;
  }
}

.location{
  margin-top: -5em;
  background-color: $blue;
  display: flex;
  overflow: hidden;
  padding-bottom: 8.5em;

  @media #{$phone} {
    display: block;
    padding-bottom: 10em;
  }

  figure.map, .content{
    position: relative;
    outline: 1px solid transparent;
    align-items: center;
    justify-content: center;
    flex: 1 50%;

  }
  .content{
    @media #{$cap} {
      padding-right: calc(45% - 1140px / 2 + 10%);
      padding-left: 5%;
    }
  }
  aside{
    font-weight: 300;
    margin: 1em 0;
    h2{
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: 800;
    }
    p{
      text-transform: uppercase;
      font-size: 1em;
    }
  }
  p{
    margin-top: 1em;
    &:last-of-type{
      font-style: italic;
      font-size: .9em;
    }
  }
  figure.map{
    background: #333;
    min-width: 50%;
    position: relative;
    outline: 1px solid transparent;
    @media #{$phone} {
      transform: translate3d(0, 0, 0) skewy(2deg);
    }
    @media #{$tab} {
      transform: translate3d(0, 0, 0) skewy(2deg);
    }
    @media #{$desk} {
      transform: translate3d(0, 0, 0) skewy(3deg);
    }
    @media #{$cap} {
      transform: translate3d(0, 0, 0) skewy(3.5deg);
    }
    &:before{
      @media #{$tab} {
        background: url('https://supmot.imgix.net/map.jpg?1234');
      }
      background-position: center center;
      background-repeat-x: no-repeat;
      background-size: cover;
      content: " ";
      display: inline-block;
      width: 120%;
      height: 120%;
      top: -10%;
      left: -20%;
      position: absolute;
      z-index: -1;
    }
  }
}

.linkbutton{
  z-index: 10;
  color: $gray;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  border: 0;
  font-size: .8em;
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 1.4em 0;

  &:after{
    content: " ";
    height: 3.8em;
    bottom: 0em;
    display: inline-block;
    z-index: -10;
    background: #1f3943;
    position: absolute;
    background: $orange;
    width: 100%;
    left: 0;
    transition: $fast;
  }
  &:hover{
    color: $orange;
    padding: 1.2em 0 1.6em 0;
  }
  &:hover:after{
    height: .2em;
    transition: $fast;
  }
}

.social{
  background-color: $orange;
  margin-top: -7.5em;
  @media #{$phone} {
    padding-top: 2em;
  }
  aside{
    position: relative;
    padding-bottom: 2em;
    top: -2em;
    .badge{
      background: $blue;
    }
  }
  section.content{
    > div{
      display: flex-box;
      display: flex;
      padding-bottom: 2em;
      @media #{$phone} {
        display: block;
      }

      .linkbutton{
        color: $gray;
        flex: 1;
        margin-right: 1em;
        margin-bottom: 1em;
        @media #{$phone} {
          flex: 0;
          font-size: 1.2em;
        }
        &:after{
          background: $blue;
        }
        &:hover{
          color: $blue;
        }
      }
      h1{
        padding-bottom: 2.6em;
        padding-top: 0;
        @media #{$phone} {
          padding-bottom: .8em;
        }
      }
    }
  }
}

.page-enter-active {
  transition: opacity .3s
}

.page-enter, .page-leave-active {
  opacity: 0
}
