
/* VARS */

$orange : #794b45;
$brightorange : #b98261;
$darkorange : #402926;

$darkblue : #07141a;
$blue : #1f3943;
$lightblue : #284c5a;
$xlightblue : #D9E5E5;

$gray : #a6a8a5;

$normal: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
$fast: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

$phone: "only screen and (max-width: 767px)"; // phones
$tab: "only screen and (min-width: 768px)";   // tablet
$desk: "only screen and (min-width: 1025px)"; // desktop
$cap: "only screen and (min-width: 1140px)";  // capped

$thickness:  4px;
$size:  26px;
$s_right: rgba(255, 255, 255, 0.4);
$s_left: rgba(237, 28, 36, 1);

$gotham: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
$tungsten: 'Tungsten A', 'Tungsten B';
