header.feature.secondary
  nav.skewright: ul.content
    li: figure: a(ui-sref="home")
      img(ng-src="../../img/superiormotors.min.png" alt="superior motors logomark")
    li: a.button(ui-sref-active="active" ui-sref="kevin") chef
    li: a.button(ui-sref-active="active" ui-sref="articles") articles

article.articles.skewleft.inside(ng-controller="getPrisArticle"): section.content
  date {{swankin[0].date | date:'MMMM dd, y' }}
  h1 {{swankin[0].title}}
  div(ng-bind-html="swankin[0].body") 
  img(ng-if="swankin[0].image !== ''" src="{{swankin[0].image}}")
