header.feature.secondary
  nav.skewright: ul.content
    li: figure: a(ui-sref="home")
      img(ng-src="../../img/superiormotors.min.png" alt="superior motors logomark")
    li: a.button(ui-sref-active="active" ui-sref="kevin") chef
    li: a.button(ui-sref-active="active" ui-sref="articles") articles

article.articles.skewleft: section.content(ng-controller="prisCtrl")
  h1 articles
  article(ng-repeat="article in articles | limitTo:20")
    h2 {{article.title}}
    date {{article.date | date:'MMMM dd' }}
    p {{article.body}} 
      a(ui-sref="article({'articleId':'{{article.link}}'})") read more

footer.red
  p superior motors 2015 |
    a(href="https://www.kickstarter.com/projects/379429428/superior-motors-community-restaurant-and-farm-ecos")  kickstarter campaign
