header.feature.secondary
  nav.skewright: ul.content
    li: figure: a(ui-sref="home")
      img(ng-src="../../img/superiormotors.min.png" alt="superior motors logomark")
    li: a.button(ui-sref-active="active" ui-sref="events") events
    li: a.button(ui-sref-active="active" ui-sref="kevin") chef
    li: a.button(ui-sref-active="active" ui-sref="articles") articles

article.skewleft.kevin: section.content
  h1 Upcoming events

footer
  p superior motors 2015 |
    a(href="https://www.kickstarter.com/projects/379429428/superior-motors-community-restaurant-and-farm-ecos")  kickstarter campaign
