header.feature.secondary
  nav.skewright: ul.content
    li: figure: a(ui-sref="home")
      img(ng-src="../img/superiormotors.min.png" alt="superior motors logomark")
    //- li: a.button(ui-sref-active="active" ui-sref="kevin") chef

article.skewleft.kevin: section.content
  h1 Kevin Sousa
  p  I grew up in McKees Rocks, Pennsylvania; quintessential blue­-collar Pittsburgh. Two generations of my family operated a Mom and Pop restaurant in the downtown ­shopping district. I grew up around food.
  p  Even when we had little else, we had access to good food. When the regional economy collapsed, and the steel industry shed some 250,000 jobs, McKees Rocks suffered much in the same way Braddock did. When the jobs left town, the business district along with the restaurants weren't far behind.
  p  After culinary school, I had the good fortune of working under great chefs who imparted a new respect for food and community. I also started to develop some of my own philosophies about restaurants. I started to notice that good, conscientious restaurants did more than just fill stomachs.
  p  Good restaurants act on the opportunity to bring communities together in very unique and instinctual ways.
  p  Everyone knows that good food has soul. However, I quickly discovered that not every restaurant has soul. 
  p  The seasons, food traditions - old and new, ingredients, solid technique and mentoring are core tenants of transformative cooking.
  p  A great restaurant takes much more than one individual. A great restaurant needs a community that is willing to support and grow with it over time.
  p  When I was first introduced to Braddock, I immediately felt a very deep connection to the town and imagined what the downtown must have looked like in its prime. The place just struck a chord that continues to resonate because of where and how I grew up.
  section.media
    h1 Media
    article
      h1: a(href="http://www.pittsburghmagazine.com/Best-of-the-Burgh-Blogs/The-412/January-2014/Kevin-Sousas-Superior-Motors-Breaks-a-Kickstarter-Record/") 
        | Kevin Sousa’s Superior Motors Breaks a Kickstarter Record
      h2 Pittsburgh Magazine
    article
      h1: a(href="http://jobs.aol.com/articles/2014/10/07/how-kickstarters-most-funded-restaurant-is-transforming-a-town/")
        | How Kickstarter's Most-Funded Restaurant Is Transforming a Town
      h2 Aol
    article
      h1: a(href="http://www.post-gazette.com/business/development/2014/12/07/Ambitious-Pittsburgh-chef-Kevin-Sousa-clears-his-business-plate-for-Braddock-project/stories/201411090015")
        | Ambitious Pittsburgh chef Kevin Sousa clears his business plate for Braddock project
      h2 Pittsburgh Post-Gazette
    article
      h1: a(href="http://www.eater.com/2015/1/21/7861523/superior-motors-braddock-kevin-sousa")
        | If You Build It, Will They Come?
      h2 Eater
    article
      h1: a(href="http://www.foodandwine.com/chefs/kevin-sousa")
        | Chef Kevin Sousa
      h2 Food & Wine

footer
  p superior motors 2015 |
    a(href="https://www.kickstarter.com/projects/379429428/superior-motors-community-restaurant-and-farm-ecos")  kickstarter campaign
